:root {
    --main-color: #FF305B;
    --lightColor: #c1c1c1;
    --bgColor: #333;
}

body{
    font-family: "Roboto" , sans-serif;
    background-color: rgb(21, 21, 21);
    width: 100%;
}
h1 , h2 , h3, h4 , h5 , h6 {
    font-family: "Exo 2", sans-serif;
}
p{
     color: var(--lightColor);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
img{
    width: 100%;
}
section{
    padding-block: 50px;
    color: #fff;
}
.title{
    text-align: center;
    margin-bottom: 50px;
}
footer {
    background-color: var(--bgColor);
    text-align: center;
    padding: 20px 0;
}