@keyframes animate_1{
    0%{
        top: -25%;
        opacity: 1;
    }
    50%{
        top: 50%;
        opacity: 1;
    }
    100%{
        top: 50%;
        opacity: 0;
    }
}
@keyframes animate_2{
    0%{
        content: " |";
    }
    10%{
        content: "  |";
    }
    20%{
        content: " D |";
    }
    30%{
        content: " De |";
    }
    40%{
         content: " Des |";
    }
    50%{
         content: " Desi |";
    }
    60%{
         content: " Desig |";
    }
    70%{
         content: " Design |";
    }
    80%{
         content: " Designe |";
    }
    90%{
        content: " Designer |";

    }
    100%{
        content: " Designer |";

    }
}